<!-- <h1>Listing events</h1> -->
<!-- <div class="page-header"> -->
    <button id="show-calendar" class="btn btn-primary show-calendar" data-no-turbolink="true"%>
      <span class="glyphicon glyphicon-minus"> </span> Hide Calendar</button>
<!-- </div> -->

<div id="events_calendar">
  <%= render partial: "calendar", locals: {events: @events} %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="show-events">
    <thead style:'text-align: center;'>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Location</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @events) do |event| %>
            <td><%= event.title %></td>
            <td><%= event.event_category.name %></td>
            <td><%= event.address.full_street_address %></td>
            <td><%= event.event_on.strftime('%B %d, %Y') %></td>
            <td><%= event.start.strftime('%I : %M %p') %></td>
            <td><%= event.end.strftime('%I : %M %p') %></td>
            <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
